<br>
<% flash.each do |name, msg| %>
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
        <small><sup>X</sup></small>
      </button>
      <%= content_tag(:div, sanitize(msg)) %>
    </div>
<% end %>
